.layout{
	display: inline-grid;
	grid-template-columns: auto auto auto auto;
	background-image: url("images/gray.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.layout > div, table{
  font-size: 2vw;
  font-family: Arial;
}

img {
  display: block;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.topHeader {
  grid-column-start: 1;
  grid-column-end: 4;
  position: relative;
}

.greetingPosition{
	text-align: center;
	text-shadow: 2px 2px 5px white;
	color: red;
	position: absolute;
 	top: 8%;
  	left: 55%;
}

#roundCorner{
	border-radius: 25px;
	padding: 20px;  
}

.textStyle{
	text-align: justify;
	line-height: 1.5;
	word-spacing: 4px;
}

.indentInput{text-indent: 40px;}

h2{
	color: #B64E0A;
	text-shadow: 2px 2px #4E4724;
}

h3{
	color: #400E3A;
	font-style: italic;
	text-align: left;
}

.markHighlight{
	font-weight: bold;
	text-align: left;
}

.colorCase1{background-color: #74B7B8;}

.divDistance{
	width: 55vw;
	margin: auto; 
	margin-top: 5%;
	margin-bottom: 5%;
}

.widthDistance{
	width: 55vw;
	margin: auto; 
	margin-bottom: 5%;
}

.tableDistance{
	width: 80vw;
	margin: auto;
	margin-bottom: 40px;
}

.wholeGrid{
	grid-column-start: 2;
	grid-column-end: 4;
	}

.leftGrid{
	margin-left: 10%;
	margin-right: 5%;
	grid-column-start: 2;
	grid-column-end: 3;
}
.rightGrid{
	margin-right: 10%;
	grid-column-start: 3;
	grid-column-end: 4;
}

table {border-collapse: collapse;}

th {
	text-align: center;
	background-color: #3AA74F;
	color: #400E3A;
}

th, td{
	height: 80px;
}

tr:nth-child(odd) {
	background-color: #D9D9D9;
	text-align: justify;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
	text-align: center;
}

.footer{
	grid-column-start: 1;
	grid-column-end: 5;
	background-color: gray;
	height: 150px;
	text-align: center;
}

.topLink{cursor: pointer;}

@media screen and (max-width: 480px){
	.layout > div, table{font-size: 2.67vw;}
	.leftGrid{margin-left: 3%;}
	.indentInput{text-indent: 15px;}
	.textStyle{line-height: 2;}
	.divDistance{width: 70vw;}
	.widthDistance{width: 80vw;}
	.tableDistance{width: 85vw;}
	.greetingPosition{left: 40%;}
}

@media screen and (min-width: 481px) and (max-device-width: 768px) 
	and (orientation: portrait) {
		.layout > div, table{font-size: 2.23vw;}
		.leftGrid{margin-left: 3%;}
		.indentInput{text-indent: 20px;}
		.textStyle{line-height: 1.9;}
		.divDistance{width: 63vw;}
		.widthDistance{width: 72vw;}
		.greetingPosition{left: 45%;}
}

@media screen and (min-width: 481px) and (max-device-width: 768px) 
	and (orientation: landscape) {
		.layout > div, table{font-size: 2.25vw;}
		.leftGrid{margin-left: 5%;}
		.indentInput{text-indent: 22px;}
		.textStyle{line-height: 1.9;}
		.divDistance{width: 67vw;}
		.widthDistance{width: 75vw;}
		.greetingPosition{left: 50%;}
}

@media screen and (min-width: 769px) and (max-device-width: 1024px){
	.layout > div, table{font-size: 2.15vw;}
	.leftGrid{margin-left: 6%;}
	.indentInput{text-indent: 30px;}
	.textStyle{line-height: 1.8;}
	.divDistance{width: 60vw;}
	.widthDistance{width: 65vw;}
	.tableDistance{width: 85vw;}
	.greetingPosition{left: 50%;}
}

@media screen and (min-width: 1025px) and (max-device-width: 1280px){
	.layout > div, table{font-size: 2.1vw;}
	.leftGrid{margin-left: 8%;}
	.textStyle{line-height: 1.6;}
	.divDistance{width: 58vw;}
	.widthDistance{width: 58vw;}
	.tableDistance{width: 82vw;}
}