.layout{
	display: inline-grid;
	grid-template-columns: auto auto auto auto auto;
	grid-gap: 40px;
	background-image: url("images/gray.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.layout > div, table{
  font-size: 20px;
  font-size: 2vw;
  font-family: Arial;
}

img {
  display: block;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.topHeader {
  grid-column-start: 1;
  grid-column-end: 6;
  background-image: url("images/photo2.jpg");
  width: 100%;
  height: 600px;
  padding: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.opening, .skillset, .work, .reason, .misc, .highschoolBio, .highschoolPhoto, .elementaryBio{
	grid-column-start: 2;
	grid-column-end: 4;
	}

.collegePhoto, .highschoolBio, .interestPhoto{
	grid-column-start: 2;
	grid-column-end: 3;
}
.collegeBio, .highschoolPhoto, .interest{
	grid-column-start: 3;
	grid-column-end: 4;
}
